<!DOCTYPE html>
<html>
  <head>
    <title>Festa VIP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.link rel: "stylesheet", href: asset_path("application.css"), "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>


  </head>

  <body class="flex min-h-screen">
    <% if show_sidebar? %>
      <%= render "layouts/shared/sidebar" %>
    <% end %>

    <main class="flex-1 ml-64 p-6">
      <%= yield %>
    </main>
  </body>

</html>
